@model CRUD_Operation.Models.Transaction

@{
    ViewData["Title"] = "Transaction";
}


<div class="row">
    <div class="col-md-6">
        <h4>Transaction</h4>
        <form asp-action="CreateorEdit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id"/>
            <input type="hidden" asp-for="date"/>
            <div class="form-group">
                <label asp-for="accountHolderName" class="control-label"></label>
                <input asp-for="accountHolderName" class="form-control" />
                <span asp-validation-for="accountHolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accountNumber" class="control-label"></label>
                <input asp-for="accountNumber" class="form-control" />
                <span asp-validation-for="accountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bankName" class="control-label"></label>
                <input asp-for="bankName" class="form-control" />
                <span asp-validation-for="bankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            
            <div class="row">
                <div class="col-md-6 mt-2">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div>
                        <a asp-action="Index" class="btn btn-secondary w-100">View All</a>
                    </div>
                </div>
            </div>

            
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
